DATABASE_URL=postgresql://user:password@localhost:5432/taskflow_dev

CLERK_SECRET_KEY=PASTE_YOUR_KEY_HERE
CLERK_WEBHOOK_SECRET=PASTE_YOUR_WEBHOOK_SECRET_HERE

STRIPE_SECRET_KEY=PASTE_YOUR_KEY_HERE
STRIPE_PRICE_ID=price_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=PASTE_YOUR_WEBHOOK_SECRET_HERE

CLIENT_URL=http://localhost:5173
PORT=3001
NODE_ENV=development
